<div class="center jumbotron">
    <h1>Welcome to the Project_Mng.</h1>
  
    <p>
      This is the home page for the Project_Mng.
    </p>
  
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
  